[2016-02-22 15:27] hectorj opened #2 "margin_info: json: cannot unmarshal string into Go value of type float64"
When calling `client.MarginInfo.All()`, I get this error:

[2016-02-29 14:42] #2 closed

[2016-03-16 13:09] alehano opened #6 "Nonce is too small"
Sometimes I get this error
[code]

[2016-03-16 13:37] prdn commented on #6
Merged your PR

[2016-03-16 13:37] #6 closed

[2017-01-22 11:53] prdn opened #19 "Change API endpoints"
@erubboli please make sure that all URLs match
[code]

[2017-01-22 17:48] #19 closed

[2017-02-16 22:43] nsilver7 opened #21 "Unsupported protocol scheme"
When I try running the example in examples/account I get the following error:

Error:  Get wss://api.bitfinex.com/account_infos: unsupported protocol scheme "wss"

Is this related to the recently updated API endpoints?

[2017-02-17 12:01] #21 closed

[2017-03-05 10:59] zdavatz opened #23 "Ho do I install?"
Hi

How do I install this software?

I am doing
[code]
then
[code]
and then I get
[code]

[2017-03-05 11:10] zdavatz opened #24 "go test -v ./tests/integration"
I am following your instructions and I get the following:
[code]
what am I doing wrong? The keys are there.

[2017-03-05 11:19] zdavatz opened #25 "header was not sent"
Hi

I did set my API keys correctly. Now I am running:
[code]
and I get
[code]

[2017-03-06 17:39] erubboli-bfx commented on #23
Please ensure you follow the default directory organization (in `~/go` the directory) or set a GOPATH environment variable (see: https://golang.org/cmd/go/#hdr-GOPATH_environment_variable).

In order to download dependencies you should use `go get` command.

[2017-03-06 18:07] #24 closed

[2017-03-06 18:07] #25 closed

[2017-03-06 18:18] zdavatz commented on #23
ok, thanks!

[2017-03-06 18:18] #23 closed

[2017-03-22 19:52] subiol opened #28 "Client stops receiving data"
I am running go 1.8 on Ubuntu 16.10.

I have created a client that is basically a copy of the [ws-book example](https://github.com/bitfinexcom/bitfinex-api-go/blob/master/examples/v1/ws-book/main.go), but on top of printing the received data for debug from the subscribed channels, it sends the data out through a zmq socket.

The problem I am having is that the feed stops receiving data. The progra

[2017-03-23 03:22] knarz commented on #28
Do you have any sorts of proxies between you and the API?
I just had the same example running for about ten minutes without any problems, so I'd assume that it is something on your end.

Also if the websocket connection were to time out then you'd get an actual error back, so that's a bit strange—but the default read timeout also tends to be really high, or might even be infinite, so it could be a

[2017-03-23 10:35] subiol commented on #28
I do not have any proxies between me and the API. I just did the same test, run the example unmodified, and same happened. After a couple of hours no more data would come through without any error or any other indication, the program still "running".

Can you tell me where can I check the default timeout?

[2017-03-23 12:05] knarz commented on #28
If you want to play around then you should start here:
https://github.com/bitfinexcom/bitfinex-api-go/blob/master/v1/websocket.go#L79

And consider these:
https://godoc.org/github.com/gorilla/websocket#Conn.SetReadDeadline
https://golang.org/pkg/net/#Conn

Unfortunately none of these support golang's context but I hope that helps anyway.

[2017-03-23 14:34] subiol commented on #28
After adding a timeout to the websocket, I am getting an error from Subscribe once the connection drops, instead of getting stuck doing nothing.

I have created a pull request https://github.com/bitfinexcom/bitfinex-api-go/pull/30

[2017-03-23 14:34] #28 closed

[2017-03-25 23:52] malaschitz commented on #6
I have the same bug.

[2017-03-26 21:34] malaschitz opened #32 "nonce, claim"
1. Nonce is not properly generated. Nonce must be always higher and higher number. There is my own implementation: https://github.com/malaschitz/bitfinex-api-go/blob/master/utils/nonce.go

2. Second problem is with claim. Function claim in positions.go send position_id as string. It is wrong and bitfinex return error: position_id must be integer.

3. But worst problem, when I change properly claim

[2017-03-27 14:11] erubboli-bfx commented on #32
@malaschitz you're right, didn't notice `nonce` generation has been changed.
Do you want to submit a PR ?
I'm currently investigating the claim issue.

[2017-03-28 12:39] malaschitz commented on #32
There is possible workaround with claim. Instead of claim I could send order with the same amount: SELL instead of BUY and BUY instead of SELL.

[2017-03-29 10:01] erubboli-bfx commented on #32
@malaschitz we're fixing the endpoint, should be in production soon.  But the workaround should work in the meantime.

[2017-03-29 11:38] malaschitz commented on #32
Great work !!

[2017-04-02 14:54] Peltoche opened #37 "Hearthbeat error"
Hi,

The websocket service doesn't handle correctly the heartbeat:

See here -> https://github.com/bitfinexcom/bitfinex-api-go/blob/master/v1/websocket.go#L314

When the heartbeat come data have `[0 hb]` as content and you try to access the 3rd array' 3rd element which create a panic.

[2017-04-02 15:01] Peltoche opened #38 "Nonce bug"
I have corrected the Nonce issue with the fix from #32 and the values seem correct but the error `400 Nonce is too small` doesn't stop.

I guessed that the counter linked to the API key was too high and I try some very big values and a new key but there is no changes.

[2017-04-02 15:52] Peltoche commented on #38
After some times and a new API key it work. My bad...

[2017-04-02 15:52] #38 closed

[2017-04-07 15:59] #37 closed

[2017-06-08 10:56] Simon089 opened #43 "Wallet-Transfer should be POST"
In v1/wallet.go the `Transfer`-function should do a POST request instead of a GET, i.e. `req, err := c.client.newAuthenticatedRequest("POST", "transfer", payload)`.

[2017-07-20 06:51] tensor-programming opened #46 "issues installing the package."
when i run go get github.com/bitfinexcom/bitfinex-api-go i get an error that says there are no buildable source files in the directory.  I've tried running go get github.com/bitfinexcom/bitfinex-api-go/utils which works fine, but go get github.com/bitfinexcom/bitfinex-api-go/bitfinex does not work.  obviously I am missing something here.  Anyone got any ideas?

Edit:

Never mind, I figured it out.

[2017-08-07 00:47] kev111 commented on #46
yeah that's right! thx for the help

[2017-08-08 02:16] icolwell commented on #46
PR #41 updates the readme. Hopefully someone with write access can merge it.

[2017-09-04 04:42] tjfi222 opened #48 "Withdraw paylaod"
To withdraw Ripple you need to include the ripple tag in the payment_id field in the withdraw request.  V1 does not include a payment_id input to the Withdraw method.

[2017-09-11 09:12] stevenroose opened #49 "Support HTTP timeouts"
Preferably, this is done by allowing the user to provide it's own HTTP client instead of using the http.DefaultClient.

I realize that you heavily rely on the `httpDo` method for testing, but it's not very good design to hard-code the HTTP client there.

[2017-09-14 04:29] 18AdrianoH opened #51 "cannot do a simple market buy with sufficient funds because order tries to do margin on a marginless account"
for a simple market order, it's  trying to buy on margin.
how do I make it just buy normally? I have sufficient funds.

[2017-09-16 23:45] hantuzun commented on #46
This issue could be closed.

[2017-09-16 23:48] hantuzun opened #52 "Fix type errors of v2 public examples"
https://github.com/bitfinexcom/bitfinex-api-go/blob/master/examples/v2/ws-book/main.go#L20
https://github.com/bitfinexcom/bitfinex-api-go/blob/master/examples/v2/ws-book/main.go#L24

The lines above causes he following errors:
[code]

[2017-09-20 13:23] #52 closed

[2017-10-25 10:44] nntaoli commented on #43
why i invoke transfer api interface aways return `{"status":"error","message":"ETC cannot be used for Margin Funding. Transfer to Funding wallet not possible."}` ？

[2017-10-27 16:06] LRonHubs commented on #28
I have this error in the NodeJS version

[2017-11-02 12:59] addodelgrossi commented on #6
I have the same problem, in my case, if running using linux ubuntu it's good, but, in the mac os I have the same problem.

The parameters it's the same in two cases.

Any idea ?

[2017-11-05 23:37] addodelgrossi opened #63 "400 Nonce is too small, after some calls"
I'm finding the error:

[code]
[code]
There is a strange behavior, the first calls work, after a certain period the error starts to occur and it does not work anymore.

Any idea ?

[2017-11-17 17:29] ozanh opened #64 "Public trade history is missing v2"
Hi, I could not find a method to get public trades for a pair in specific period in API version 2. As far as I understood `TradeService.All` method fetches only users trade history([link](https://docs.bitfinex.com/v2/reference#rest-auth-trades-hist)). Are you planning to add public [trades](https://docs.bitfinex.com/v2/reference#rest-public-trades) method?

[2017-11-19 11:36] gpmn opened #65 "V1's handleDataMessage seems wrong, missed a return?"
https://github.com/bitfinexcom/bitfinex-api-go/blob/4f76741a5a962c0c06c3983cab989a5e4ce7f934/v1/websocket.go#L191
does here missed a return?

[2017-11-21 14:42] preexo opened #67 "v2: panic: interface conversion: interface {} is nil, not []interface {}"
Looks like some message couldn't be decoded.

Not sure how to tackle this, anyone an idea?
Should we be catching this before it get's through the switch into notificationFromRaw?

[code]

[2017-11-22 01:29] addodelgrossi commented on #63
Another observation, and that in the operating system Mac OS the error happens in all the calls, any idea?

[2017-11-22 02:26] addodelgrossi commented on #32
@malaschitz Did you solve the problem, does not the error happen anymore? What operating system are you using? I'm having the same problem, on linux less often, already on Mac OS all the time.

Thanks

[2017-11-27 01:49] sunrisedo commented on #63
if you create a bitfinex client in multithreading will have this error.my why is one threading one bitfinex client .

________________________________
发件人: Addo <notifications@github.com>
发送时间: 2017年11月22日1:29
收件人: bitfinexcom/bitfinex-api-go
抄送: Subscribed
主题: Re: [bitfinexcom/bitfinex-api- go] 400 Nonce is too small, after some calls (#63)

Another observation, and that in the operating system M

[2017-11-27 09:41] addodelgrossi commented on #63
@sunrisedo thanks for reply !

I can not simulate the error after pull request, do you continue with the error? Could you send the step by step to simulate?

[2017-11-27 10:30] addodelgrossi commented on #63
@sunrisedo ,
I was able to simulate the error, and it was very clear. I believe that the only way to solve the problem is that the **newAuthenticatedRequest** method is **synchronized** ? Any other suggestions ?

[2017-11-28 01:47] sunrisedo commented on #63
My solution is the same as yours.

________________________________
发件人: Addo <notifications@github.com>
发送时间: 2017年11月27日 10:30
收件人: bitfinexcom/bitfinex-api-go
抄送: sunrise; Mention
主题: Re: [bitfinexcom/bitfinex-api-go] 400 Nonce is too small, after some calls (#63)

@sunrisedo<https://github.com/sunrisedo> ,
I was able to simulate the error, and it was very clear. I believe that the only way to

[2017-11-28 01:53] sunrisedo commented on #63
Editing atomic variables can only be done synchronously, and the asynchronous editing of atomic variables can lead to many problems.

________________________________
发件人: Addo <notifications@github.com>
发送时间: 2017年11月27日 10:30
收件人: bitfinexcom/bitfinex-api-go
抄送: sunrise; Mention
主题: Re: [bitfinexcom/bitfinex-api-go] 400 Nonce is too small, after some calls (#63)

@sunrisedo<https://github.com/su

[2017-11-28 02:11] sunrisedo commented on #63
I have problem in V1 websocket, when I dynamic update order books will many cross.this my websocket analysis data code in bitfinex-api-go.

________________________________
发件人: crazy sunrise
发送时间: 2017年11月28日 1:53
收件人: bitfinexcom/bitfinex-api-go
主题: 答复: [bitfinexcom/bitfinex-api-go] 400 Nonce is too small, after some calls (#63)

Editing atomic variables can only be done synchronously, and the a

[2017-11-28 02:19] sunrisedo opened #69 "update"

[2017-11-28 02:20] #69 closed

[2017-11-28 16:33] BVV13 commented on #23
go get github.com/bitfinexcom/bitfinex-api-go
and then I get:
can`t load package: package github.com/bitfinexcom/bitfinex-api-go: no Go files in D:\My\src\github.com/bitfinexcom/bitfinex-api-go

[2017-12-13 04:55] phemmer opened #70 "Make v2 bfxWebsocket an exported type"
Currently the `bfxWebsocket` type is not exported, but values of the type are exposed through [Client.Websocket](https://godoc.org/github.com/bitfinexcom/bitfinex-api-go/v2#Client). This means that documentation for the type does not exist, and thus is difficult to write code against. All the type's members are unexported, so I can't see any harm that would come from making the type exported.

[2017-12-14 03:53] phemmer opened #72 "v2: Don't use float64"
`float64` is used in a few places in the v2 code. Aside from the obvious case of fractional data loss, floats are also imprecise for large numbers: https://play.golang.org/p/Xht8UkOf7q which could be relevant [here](https://github.com/bitfinexcom/bitfinex-api-go/blob/master/v2/websocket_service.go#L245-L250) if channel IDs ever become large.

For the bodies (pricing & amounts), I think unmarshalli

[2017-12-15 05:15] phemmer commented on #72
After looking at this for a little bit, deferring unmarshal would only solve a small number of the uses of `float64`. So what about replacing `float64` with [shopspring decimal](https://godoc.org/github.com/shopspring/decimal#Decimal) or [cockroachdb decimal](https://godoc.org/github.com/cockroachdb/apd#Decimal).

[2017-12-17 05:02] phemmer opened #74 "v2: Don't launch handlers in a goroutine"
Websocket responses should not be launched in a goroutine (https://github.com/bitfinexcom/bitfinex-api-go/blob/master/v2/websocket_service.go#L269). This can cause race conditions if 2 messages for the same item come in at near the same time.

For example lets say you're subscribed to the order books channel, and someone creates an order, but then immediately deletes it. This is going to cause 2 m

[2017-12-17 05:26] phemmer opened #75 "v2: Don't require consumer to do type conversions"
The v2 client unmarshals a lot of things into generic types. For example public websockets get unmarshalled into things like `[][]float64`, or timestamps get unmarshalled into int64 as milliseconds.

This requires the consumer to do a lot of work with the data. For the `[][]float64` they have to know which indices correspond to which fields, then convert to the appropriate unit. For the times they

[2017-12-20 04:50] phemmer opened #77 "v2: done chan closed twice"
[websocket_service.go](https://github.com/bitfinexcom/bitfinex-api-go/blob/master/v2/websocket_service.go#L195) can end up closing `b.done` twice. This can happen if a write tries to send a message but a TCP reset comes in and shuts down the socket. Both the `receiver()` goroutine and the writer can call `b.close()`. When they both check to see if the chan is closed at the same time, it's not, so

[2017-12-21 07:43] miha- commented on #63
Hello

When i try to do order i get the same error as above. Is there any solution for this?

[2017-12-21 12:03] jai opened #78 "Typo in field name (ExecAmout -> ExecAmount)"
There's a typo in the field name of some structs which causes the ExecAmount not to be parsed in. Fixing the typo fixes the issue.

https://github.com/bitfinexcom/bitfinex-api-go/pull/76

[2018-01-06 01:14] uncentral opened #80 "the first example gives error when rendering"
./main.go:26:67: undefined: bitfinex.ORDER_TYPE_EXCHANGE_LIMIT

[2018-01-06 03:08] uncentral opened #81 "dependencie error with go get"
you can avoid some dependencie errors by also doing:
go get github.com/bitfinexcom/bitfinex-api-go**/v1**

otherwise you will get dependencie errors during compiling

Maybe this could be avoided somehow?

[2018-01-06 03:09] uncentral opened #82 "example gives 400 X-BFX-APIKEY header was not sent"
Error: POST https://api.bitfinex.com/v1/order/new: 400 X-BFX-APIKEY header was not sent.
 this is the output from the first example.

apikey has been set properly. what is going wrong?

[2018-01-15 00:49] omani opened #85 "No Initial Orderbook Snapshot"
Hi,

I don't receive any Orderbook Snapshots when connecting to the public stream via websocket. (subscribed with SubscribeBook).

But I see the debugging messages in transport.go on line 123:
[code]
as
[code]
The message is not handled it seems.

Any ideas?

[2018-01-28 05:06] preexo commented on #67
https://github.com/bitfinexcom/bitfinex-api-go/pull/83 Has taken care of this!

[2018-01-28 08:04] preexo commented on #67
I was wrong, it is still hapenning.
[code]

[2018-02-01 15:31] omani opened #88 "SubscribeTrades now gives only *bitfinex.Trades back"
there is no distinction between a tradeexecution and a tradeexecutionupdate.

resulting in redundant messages for one trade.

[2018-02-01 15:32] omani commented on #88
[code]

code:
[code]

`obj` is always a *bitfinex.Trade

[2018-02-06 14:06] mrd0ll4r opened #90 "Nonce generation was changed to produce smaller values"
https://github.com/bitfinexcom/bitfinex-api-go/commit/d926899a526030ea1ef1d92bbfabd5f0120cffe4#diff-216f6cae287aa7aae392d7b55ebd2bb2R12

Who in their right mind would EVER change nonce generation to produce SMALLER values in a library that already has widespread adoption?

Anyone who already used the library and rebuilt with new sources after 20 Oct 2017 got a `400 Nonce is too small.`. How did th

[2018-02-09 21:28] utdrmac opened #91 "v2: Wrong endpoints"
Attempting to use example v2:

[code]

Documentation says path should be this `/auth/r/orders/tBTCUSD/hist`
Probably others that have this wrong too.

[2018-02-09 21:35] utdrmac opened #92 "v2: REST Codebase doesn't send API Key/Signature headers"
Been reading for an hour trying to find in the codebase in the REST where bfx-nonce, bfx-apikey, and bfx-signature are set. Simple grep of "apikey" reveals no results. So there's no code sending API credentials, which means the example client provided fails to execute.

[2018-02-16 19:18] jsgv opened #99 "v2: Websocket connection errors"
I am using the Websocket package to subscribe to Ticker updates and I am getting connection errors.
It was working before, but I recently _reinstalled_ my dependencies (not an update).

Some other things broke too.
Such as the new client method https://github.com/bitfinexcom/bitfinex-api-go/commit/15f42ed8f9574d3dd2a56921ddf1e51dd636559d#diff-93015be9a1b3ee72156236756317284dL220

Is there a possib

[2018-03-18 19:44] mlensment commented on #91
+1

[2018-03-22 05:59] guanqun opened #106 "use the Checksum feature newly introduced"
It can help verify that Book generated is correct.

[2018-03-23 01:21] AbeIgnocious opened #107 "response not matching the api documentation"
According to the v1.1 docs, my response for the ticker websocket should look like:
[code]

however, my responses look like this:
[code]

Using the examples for v1 websockets.

[2018-03-23 13:39] tonto opened #108 "Wallet apis wrong http methods"
Hi guys,

WithdrawCrypto, WithdrawWire and Transfer methods seem to be using `GET`
http method although the respective endpoints are `POST`

I am willing to make a pr if you give me a go ahead.

[2018-03-27 22:37] brobits commented on #92
can you pull this branch and try again? https://github.com/brobits/bitfinex-api-go/tree/maintenance

[2018-03-27 22:39] brobits commented on #91
this branch has updated authentication for v2 REST & corrected URI endpoints: https://github.com/brobits/bitfinex-api-go/commit/8b19f0dafc7a213f1dc6598b65855b4701b75b3b

[2018-03-28 17:34] brobits commented on #90
I didn't suggest this change and frankly I don't have any knowledge around when/why/etc., but I did notice this comment in the commit:

nonces that are max 53bit, whereas before we used a 64bit number, so
if you've used this lib before you might have to generate a new API
key in order to get rid of the `nonce too small` error message

I can't seem to find documentation that REST nonces are bound b

[2018-03-28 17:35] brobits commented on #85
this has been introduced recently: https://github.com/bitfinexcom/bitfinex-api-go/commit/da3a792b45bea79be4e706b792eb8154058ca9b5

[2018-04-04 21:32] brobits commented on #88
some changes have been submitted recently to extend and better support ws v2 functionality.

we do still support trade execution vs. trade execution update distinction (https://github.com/bitfinexcom/bitfinex-api-go/blob/master/v2/websocket/channels.go#L271-L282).  maybe pull latest and see if your issues have been resolved?

You can find 3 distinct types:

1. TradeExecution, the first update http

[2018-04-04 21:59] omani commented on #88
why did you put the first two types onto the authenticated channel? it was publicly available before.

[2018-04-05 18:48] brobits commented on #88
`tu` and `te` types arrive both on the public and authenticated feed. the public trade feed publishes redundant information in the `te` and `tu` message types.  here's some public feed data from tBTCUSD today:

2018/04/05 13:39:45 [662,"te",[222697483,1522953585573,0.17,6715.9]]
2018/04/05 13:39:45 [662,"tu",[222697485,1522953585575,0.30987198,6715.92666549]]
2018/04/05 13:39:45 [662,"tu",[2226974

[2018-04-12 08:25] Raincle opened #112 "Can not use "go get""
I just ran "go get github.com/bitfinexcom/bitfinex-api-go" as it said in readme, but it doesn't work. How can I solve this problem?

![image](https://user-images.githubusercontent.com/8817236/38665002-d74aefda-3e6d-11e8-9d15-0cac83e64d5b.png)

[2018-04-23 23:18] brobits commented on #112
the readme should be updated, thanks for identifying this. try cloning the repository with `git clone git@github.com:bitfinexcom/bitfinex-api-go`, `cd bitfinex-api-go`, & `go install ./...`

[2018-06-11 21:31] utdrmac opened #122 "v2 Candles API returns incomplete data"
If the candle at time index X and X+1 have the same data (ie: no chart movement), API does not include candle X+1. This shows time "blanks" when examining the data. Cannot find documentation of this non-standard behavior. I say non-standard because **none** of the other major exchanges operate this way. At other exchanges, all time slices are always returned regardless if the data is the same or n

[2018-07-05 08:21] wt5RM2 opened #123 "Deposit Fee"
Hello, how can I get deposit fees?

[2018-07-05 22:56] dannyluong408 commented on #122
Where did you even find the candles api in v2?

[2018-07-06 00:35] utdrmac commented on #122
@dannyluong408 klines == candles

[2018-07-06 00:36] dannyluong408 commented on #122
ah i was looking for a rest version :|

[2018-07-06 00:38] utdrmac commented on #122
@dannyluong408 There is. https://api.bitfinex.com/v2/candles/trade:5m:tTNBBTC/hist

[2018-07-06 00:39] dannyluong408 commented on #122
@utdrmac yea i know but it isnt available in this repo, didnt wanna have to learn some go and write it but i guess ill learn

[2018-07-15 22:10] cgebe opened #124 "Make logging optional"
The logging should be optional.

[2018-08-06 00:56] wyaeld commented on #122
Candle rest api is implemented in this PR https://github.com/bitfinexcom/bitfinex-api-go/pull/115 I'm just trying to work with the new maintainer to get it merged in.  You're welcome to try it out, and if you find any issues report them on the PR

[2018-08-18 16:33] echa opened #127 "Websocket v2 subscriptions are silently ignored"
Hey guys,

since a couple of days I'm no longer receiving `subscribed` events for some submitted subscription requests. Instead, when trying to subscribe the unanswered requests again after about 10 sec, I get `subscribe: dup` code 10301 errors. See the [packet log](https://gist.github.com/echa/4f7a318b04e9f2976f2cf2a335f81c42) for an activity dump (timestamps are in UTC, server id `3acdef95-0b68-

[2018-09-06 10:37] Raincle commented on #112
@jvatianou Are you serious???

[2018-09-06 10:38] Raincle commented on #112
@brobits
![image](https://user-images.githubusercontent.com/8817236/45152570-fa5f5d80-b203-11e8-8976-3de7168975dd.png)

[2018-09-10 20:17] jvatianou commented on #124
moving to the icebox with the new feature request label.

[2018-09-10 20:47] jvatianou commented on #123
Hello.  Searched through the code and could not specifically find what you're looking for.  I will circle back with Bitfinex to find out an answer to your question.

I've tagged your request with the 'help wanted' label for future reference.

Regards.

[2018-09-10 20:51] jvatianou commented on #122
@dannyluong408 @wyaeld

Pr #115 is now merged.

Let me know how it looks and I can also close this issue.

Thank you.

[2018-09-10 20:53] jvatianou commented on #127
Hello @echa.

I'm tagging this 'help wanted' and will work with Bitfinex on answers to your questions.  For now, I'm also putting this in the backlog.

[2018-09-10 21:04] jvatianou commented on #112
adding the 'help wanted' tag and moving to 'in progress' pipeline.

@Raincle have you experimented with the link that @brobits provided?

[2018-09-10 21:07] jvatianou commented on #108
@tonto

If you have a fix for this, please PR, I will put into 'review/qa' and if this works, will be eventually merged.

Also moving to the Icebox pipeline for now.
Thank you for your time.

[2018-09-10 21:09] jvatianou commented on #107
Adding the label 'help wanted' and moving this to 'in progress' pipeline.  Will try to get an answer on this.

[2018-09-10 21:10] jvatianou commented on #106
Hello @guanqun

What is this issue a response to?

Please let me know.
Thanks.

[2018-09-10 21:13] jvatianou commented on #99
Moving to 'review/qa' pipeline until I verify that this should be closed.

[2018-09-11 02:14] guanqun commented on #106
I mean the feature mentioned here: http://blog.bitfinex.com/api/bitfinex-api-order-books-checksums/

[2018-09-11 05:30] wt5RM2 commented on #123
I find temporary solution and get withdrawal fees because they are equal for now.

[2018-09-11 06:47] tonto commented on #108
@jvatianou cool.

One more thing, it would be nice if `bitfinex.NewClient()` had a `http.Client` as a parameter so one can test easily and more importantly set the timeouts. It's a very simple change, you would just use that clinet in your `HTTPDo` method instead of `http.DefaultClient` (which is a bad idea anyway).

Thanks

[2018-09-12 15:40] jvatianou commented on #32
closing since seemingly the bug has also been closed.  if not, let me know of any feedback.

[2018-09-12 15:40] #32 closed

[2018-09-12 15:53] jvatianou commented on #67
for now marking help wanted and in the backlog.  may promote to bug eventually though.

[2018-09-12 20:58] brobits commented on #112
I would be careful about relying on dep. From the [dep readme](https://github.com/golang/dep):

Go's current [stable release is 1.11](https://golang.org/dl/). As a dev familiar with Golang development, you probably already know this, but the Golang team has been struggling to make up its mind on a dependency solution (go get, vendoring, dep, etc).  Dep is on its way out, and the next experiment ha

[2018-09-13 15:48] jvatianou commented on #72
Will work with Bitfinex on this feature request.  For now, adding to backlog.

[2018-09-13 15:53] jvatianou commented on #78
putting into backlog because the pr is in review/qa

[2018-09-13 15:56] jvatianou commented on #82
closing since the fix was merged in pr 111

[2018-09-13 15:56] #82 closed

[2018-09-13 15:57] #85 closed

[2018-09-13 16:06] #91 closed

[2018-09-13 16:06] #92 closed

[2018-09-13 20:25] michaelwilner opened #131 "Callback Architecture"
[bitfinex-api-node](https://github.com/bitfinexcom/bitfinex-api-node) has a general callback architecture to easily and dynamically attach callbacks to receipts of a specific message type. This PR implements a similar callback architecture for Go, which will enable the addition of future convenience methods like `onTrade` and `onBookUpdate`

[2018-09-14 13:36] cgebe opened #132 "Websocket connection times out with i/o timeout despite pinging"
Websocket connections time out after no data is sent for a given time frame. Pinging on my side with `{"event":"ping"}` does not reset the timeout.

[code]

Reconnecting is not the issue but hitting the RATE LIMIT is. That's how i reach the rate limit more frequently. How can i avoid this behavior. Should i ping differently?

[2018-09-25 13:01] saniales opened #133 "Duplicate write onchannel from websocket"
I signal here that using websocket to retrieve data (V1) something strange happens
[code]
Here the output
[code]

Let's take first couple of lines
[code]

The first two elements of the array (got from the channel) are missing
the call of `handleDataMessage` in the library fills the channel twice, and removes the first two elements the second time it pushes into the chan.

Please solve this or expl

[2019-01-04 17:31] gpmn opened #142 "fix precision problems"
Hi,
    I got such error message, I suppose it's better to change at here.

2018/12/27 08:24:03 jenny.go:467: DayBreak.createPosition - s.egn.SubmitSingleOrder(xxxxxxxxxxxxxx, ETCUSD, 174.33776, 5.73599, "limit") failed: POST https://api.bitfinex.com/v1/order/new: 400 Invalid order price precision (5 sig figures limit)

diff --git a/v1/orders.go b/v1/orders.go
index a26f5ec..2c4f135 100644
--- a/v

[2019-01-10 22:59] dklodner opened #144 "Connection to multiple market - PANIC"
Hi,
I am trying to connect to multiple markets but the program keeps crashing in UpdateWidth function (orderbook.go).

Here's the code to reproduce this issue. It takes a minute or so to get the error message.
https://paste.ubuntu.com/p/yrMhhDBRsn/

What am I doing wrong? Thanks for your help...

David

[2019-01-14 12:03] JacobPlaster commented on #144
Hi @dklodner,

Thanks for reporting this, I have just merged a fix for this which you can see here https://github.com/bitfinexcom/bitfinex-api-go/pull/145.

Please could you make sure you have the latest commit on master an try again. Let me know if you have any more problems with it.

[2019-01-14 13:55] dklodner commented on #144
Still an issue - new one.

`
2019/01/14 14:44:53 Orderbook 'tEOSUSD' checksum verification successful.
2019/01/14 14:44:53 [DEBUG]: {"event":"unsubscribed","status":"OK","chanId":74264}
2019/01/14 14:44:53 [DEBUG]: [74264,"cs",-2129011831]
2019/01/14 14:44:53 MSG RECV: &websocket.UnsubscribeEvent{Status:"OK", ChanID:74264}
panic: runtime error: invalid memory address or nil pointer dereference
[si

[2019-01-14 16:22] dklodner commented on #144
Another one with concurrent map read and write:
https://pastebin.ubuntu.com/p/yWV7fTHkP6/

[2019-01-14 16:49] dklodner commented on #144
Sorry to keep spamming, but it's throwing different error messages:

2019/01/14 17:45:22 [DEBUG]: [147316,[32.78,0,1]]
panic: runtime error: index out of range

goroutine 169 [running]:
github.com/bitfinexcom/bitfinex-api-go/v2/websocket.(*Orderbook).Checksum(0xc4208e9280, 0xc4201b8090)
        .../Golang/src/github.com/bitfinexcom/bitfinex-api-go/v2/websocket/orderbook.go:75 +0x5c6

[2019-01-15 10:51] JacobPlaster commented on #144
Ok thanks @dklodner thats no problem, thanks for pasting them here because I was struggling to reproduce this. Let me take another look

[2019-01-15 13:53] dklodner commented on #144
Another one @JacobPlaster

https://pastebin.ubuntu.com/p/3tXbbcjhNR/

[2019-01-15 18:59] JacobPlaster commented on #144
@dklodner I've just merged a PR which hopefully fixes all of the issues you have pointed out above (see PR https://github.com/bitfinexcom/bitfinex-api-go/pull/146). This adds some extra error catching and sync locking.

I've been running your script for 3 hours on my changes and havent seen any crash's so please let me know if you still get any errors. Also, if you do see errors in the meantime tr

[2019-01-15 20:11] dklodner commented on #144
Thank you @JacobPlaster for your work on this issue. There's a new error with concurrent map write. The program seems to try to connect multiple times to the same ticker...

https://pastebin.ubuntu.com/p/HVjgck8mxt/

[2019-01-15 20:31] JacobPlaster commented on #144
You're welcome. I'll take a look into this one tomorrow.

[2019-01-17 10:52] JacobPlaster commented on #144
OK, it seems like the are a few areas that need a sync map lock. Ill get that merged in soon. @dklodner  Is everything working correctly for you with manageorder book disabled?

[2019-01-18 14:55] dklodner commented on #144
It seems stable with manageorderbook disabled.

[2019-01-18 15:50] gpmn opened #148 "wrong usage of string(xxxx)"
https://github.com/bitfinexcom/bitfinex-api-go/blob/306fa24acc3e1ce636f3692293dd315e6d2fba99/v2/rest/candles.go#L101-L104

	req.Params.Add("end", string(end))
	req.Params.Add("start", string(start))
	req.Params.Add("limit", string(limit))
	req.Params.Add("sort", string(sort))

should be changed to fmt.Sprintf("%d", end),
string(100) ==> "d"
string(101) ==> "e"
that's not your wish.

[2019-02-09 08:41] dklodner commented on #144
Hi @JacobPlaster. Would you please take a look at this issue? Is there any way how to handle 429 status code? Also if I use "defer c.Close", program panics after all reconnection attempts finish.

https://paste.ubuntu.com/p/49w26kFYmq/

[2019-02-13 14:34] gpmn commented on #148
https://github.com/gpmn/bitfinex-api-go/blob/135a91fc446e18a239703ab5043b0e20e3f137dc/v2/rest/candles.go#L100

I fixed it, also I have changed somthing other than this issue.
You can refer my branch, wish it could be a little help.

[2019-02-16 09:15] gpmn opened #154 "Question : how to get orderbook from a websocket Client object?"
https://github.com/bitfinexcom/bitfinex-api-go/blob/286a8310973258e9b33e66475f38697f83e813c0/v2/websocket/client.go#L116

Sorry, but I did not found the clue how to get the order book even if I have set ManageOrderbook to true.

Thank so much!!!

[2019-02-28 00:31] JacobPlaster commented on #144
Hi @dklodner  sorry for the late reply. Ill check that out for you

[2019-03-14 09:16] yushoaqiang opened #155 "why there was different response on same request?"
are you bitfinex developer?
I called v2 api, positions.
sometimes it return sucess,sometimes it return error:invalid key.

[2019-03-20 09:09] JacobPlaster commented on #155
Hi @yushoaqiang please could you post your code so we can try to reproduce the problem (for obvious reasons do not expose your api keys)

[2019-03-20 09:24] JacobPlaster commented on #154
Hi @gpmn currently the local orderbook is not exposed, it is just used to ensure that the websocket stream is in sync. Bitfinex generates a crc32 checksum of the top 25 trades in its book and passes that down the websocket every few seconds. The manage orderbook flag tells the go lib to keep a local copy of the all the trades coming through the websocket and generates its own crc32 checksum using

[2019-03-20 10:13] yushoaqiang commented on #155
func getPositions(client *http.Client){
	apiUrl := "https://api.bitfinex.com/v2/auth/r/positions?"

	nonce := fmt.Sprintf("%d", time.Now().UnixNano())
	apikey := ""
	secKey := ""

	p := "/api/v2/auth/r/positions" + nonce +"{}"

	sign, _ := GetParamHmacSha384Sign(secKey, p)

	resp, err := NewHttpRequest(client, "POST", apiUrl, "{}", map[string]string{
		"Content-Type":    "application/json",
		"Acc

[2019-03-20 10:14] yushoaqiang commented on #155
this is my code,thank you!

[2019-03-20 17:28] gpmn commented on #154
Thank you, it should be a great improvement!

[2019-03-20 17:28] #154 closed

[2019-03-21 08:32] JacobPlaster commented on #154
Just giving you an update on this @gpmn. I've created this pull request (which will be merged hopefully tomorrow) https://github.com/bitfinexcom/bitfinex-api-go/pull/156/files which exposes the order book to the consumer.

You can use it like this:

[code]

[2019-03-21 09:12] JacobPlaster commented on #155
Thank @yushoaqiang. There may be a problem with the signing of the request here, could you please try using the built in rest client since that handles all of the authentication for you. Here is an example which achieves the same result as what you are attempting above:

[code]

Let me know how that turns out!

[2019-03-21 09:17] JacobPlaster commented on #155
Also if there is a specific reason as to why you want to handle the signature generation then please refer to the signing method in the library which can be found here: https://github.com/bitfinexcom/bitfinex-api-go/blob/master/v2/rest/client.go#L122

[2019-03-21 09:21] JacobPlaster commented on #144
@dklodner again sorry for the late reply. Did you manage to sort this out? It seems like the above error that you posted was caused by our API gateway rate limits

[2019-03-21 10:34] yushoaqiang commented on #155
I have to use a proxy to complete the http request, but it's too hard in your library.
I try to change source code to set the proxy. But it always return `["error",10100,"apikey: invalid"]`.

[2019-03-21 12:40] dklodner commented on #144
API rate limiting can't crash the program, don't you think? It looks like the library isn't handling 429 rate limiting error messages (increasing reconnection timeouts?) and it panics once the reconnection process ends after predefined number of tries.

[2019-03-22 06:08] JacobPlaster commented on #144
@dklodner yes I agree, but It doesnt seem like its the rate limiting bad hanshake is causing the crash here. The library attempts the reconnect which is to be expected but does not panic until it exhausts all of its attempts and then finally proceeds to kill the process. I think this is more of a problem with the lib not shutting down gracefully.  I wonder if you would still get this problem if yo

[2019-03-25 08:38] yushoaqiang opened #157 "Replace EndPoint Parameter"
your reference said that just orderId is required in replace order endpoint，but I get this response：`HttpStatusCode:400 ,Desc:{"message":"Key amount was not present."}`

[2019-03-26 07:25] dklodner commented on #144
That's what I ended up doing. It would be great if you were able to find a permanent solution. Thanks for your help.

[2019-03-28 23:47] JacobPlaster commented on #157
Hi @yushoaqiang, what values did you send to the endpoint? Im not 100% sure on the API but I would assume that sending only an orderId would be rejected anyway since theres no point updating the order if you have not provided any new order data.

[2019-04-04 02:13] yushoaqiang commented on #157
orderId and price

[2019-04-16 14:56] iurii-i-popov opened #169 "v2: How can I know about disconnect (AutoReconnect == false)?"

[2019-04-16 15:11] #169 closed

[2019-05-01 16:41] #99 closed

[2019-05-12 16:22] matthewdowney opened #172 "V1 API /trades Missing Data"
I'm not sure if this is the right place put API issues — let me know if I should move this somewhere more appropriate!

I'm gathering public trade data from [the trades rest endpoint](https://docs.bitfinex.com/reference#rest-public-trades) and it seems like there are situations in which the API omits trades during pagination.

Every few minutes I'm hitting the endpoint asking for trades at or afte

[2019-05-15 02:47] matthewdowney commented on #172
I definitely think I'm seeing this issue more, now that the price is popping off! :)

I'm looking at switching to the V2 API but since it's still in beta I'm kind of reluctant, plus it doesn't report trade side which is really necessary for what I'm doing.

[2019-05-26 15:07] tenninebt commented on #172
I'm facing it with the Websocket API (v1), a lot of missing trades, I'm using the api on a plain simple example, but subscribing to all of the margin symbols. Comparing to market trades directly on the web app, I can see a lot of discrepancies. Didn't try to switch to the V2 yet.

[2019-05-26 16:41] matthewdowney commented on #172
Wow that's really interesting that you're seeing it on the websocket as well! I assumed it was some sort of caching issue, but that doesn't seem as likely if it's also affecting the socket.

[2019-05-26 23:22] tenninebt commented on #172
Just realised there was maybe an issue on my side, I need to do more tests to confirm.

[2019-07-03 08:35] meshfields opened #179 "⇒ go get github.com/bitfinexcom/bitfinex-api-go package github.com/bitfinexcom/bitfinex-api-go: no Go files in /Users/xxx/xxx/src/github.com/bitfinexcom/bitfinex-api-go"
⇒  go get github.com/bitfinexcom/bitfinex-api-go
package github.com/bitfinexcom/bitfinex-api-go: no Go files in /Users/xxx/xxx/src/github.com/bitfinexcom/bitfinex-api-go

[2019-07-14 12:25] Changsung opened #181 "BCHUSD, USDTUSD pairs are not arrived via wss"
#### Issue type
- [v] bug
- [ ] missing functionality
- [ ] performance
- [ ] feature request

#### Brief description
- BCHUSD, USDTUSD pairs are not arrived via wss but all the others are work well.

#### Steps to reproduce
-

##### Additional Notes:
-

[2019-07-19 10:48] gpmn opened #182 "c.log.Errorf/Debugf/Warningf missing"
#### Issue type
- [X ] bug
- [ ] missing functionality
- [ ] performance
- [ ] feature request

#### Brief description
compile failed, since the c.log.Errorf/Debugf/Warningf ..... not defined.

I have update my local repository to the latest, but still missing such functions.
And I checked godoc for logging module, it seems it do not support such functions indeed.
Could you double check your code?

[2019-07-19 10:55] gpmn commented on #182
I found cause, logging module not referred correctly, please change the import path.

in these 3 files :
client.go
subscriptions.go
transport.go

change FROM
     "cloud.google.com/go/logging"
TO
       "github.com/op/go-logging"

[2019-07-26 20:21] mayofunk commented on #179
According [can't load package: package .: no buildable Go source files](https://stackoverflow.com/a/47106845/4848859);

In this case it would be:
`go get github.com/bitfinexcom/bitfinex-api-go/...`

[2019-07-28 23:18] andreygrehov opened #185 "Websocket logic has a data race"
#### Issue type
- [x] bug
- [ ] missing functionality
- [ ] performance
- [ ] feature request

#### Brief description
Data race which is most likely caused by one concurrent reader/writer `gorilla/websocket` constraint. See https://godoc.org/github.com/gorilla/websocket#hdr-Concurrency for more details.

#### Steps to reproduce
go run -race https://raw.githubusercontent.com/bitfinexcom/bitfinex-ap

[2019-07-29 02:43] JacobPlaster commented on #185
Ahh thanks @andreygrehov, seems like this was introduced with the num milit-ws connection multiplexer. Ill look into it now

[2019-07-29 03:23] JacobPlaster commented on #185
Fixed in https://github.com/bitfinexcom/bitfinex-api-go/pull/186. The solution was to use a channel/writer pattern to ensure that websocket send messages are all processed synchronously on a single routine/thread.

[2019-07-29 04:05] andreygrehov commented on #185
@JacobPlaster thanks for a quick turnaround. Code reviewed the PR.

[2019-07-30 09:13] JacobPlaster commented on #185
Merged in #186, this can be closed now.

[2019-07-30 15:16] andreygrehov commented on #185
Teamwork. Appreciate it @JacobPlaster.

[2019-07-30 15:16] #185 closed

[2019-07-30 18:50] gpmn opened #187 "do not reconnect automatically once got InfoEvent : "Stopping. Please try to reconnect""
{Version:0 ServerId: Platform:{Status:0} Code:20051 Msg:Stopping. Please try to reconnect}

#### Issue type
- [ X] bug
- [ ] missing functionality
- [ ] performance
- [ ] feature request

#### Brief description
once the websocket received an InfoEvent like this :
{Version:0 ServerId: Platform:{Status:0} Code:20051 Msg:Stopping. Please try to reconnect}
then the connection lost, but it do not recon

[2019-07-30 18:52] gpmn commented on #181
there's limitation for each ws connection, check the websocket.SubscribeEvent and print it for more infomation.

[2019-08-02 03:12] gpmn commented on #187
TOOOOOOOOOOOOOOOOOO MANY BUGS in recent version, it is so hard to blame ..................

BUG太多，无力吐槽！！！

[2019-08-02 04:13] gpmn commented on #187
It seems that the server will disconnect proactively once websocket connected, before any subscription made.

At the moment, your heratbeat checking based on subscription not work yet. Then the connection is keeping closed, and can not reconnect automatically.

Dame your upgrading without test with sdk!!!!

[2019-08-05 13:13] xiandong79 commented on #179
same problem

[2019-08-05 14:48] JacobPlaster commented on #187
Hey @gpmn illl try to reproduce these issues now. Thanks for raising them

[2019-08-05 15:05] JacobPlaster commented on #187
Ok I did manage to find the bug that you are referring to, it seems like it only causes a problem when the socket has no subscriptions (like you said) and is not authenticated. Ill create a fix for this now.

We had to completely rework the websocket implementation to include a multiplexer so if there are any other bugs that you know of please let me know now.

[2019-08-08 12:56] JacobPlaster commented on #187
Update, all problems stated above are fixed. Im just finishing a new feature before I open the PR

[2019-08-08 12:57] JacobPlaster commented on #187
This bug has always been there, the only difference is the new version wasnt reconnecting afterwards. Ive made the fix to reconnect and also the original proactive disconnect

[2019-08-12 10:34] JacobPlaster commented on #187
fixed in https://github.com/bitfinexcom/bitfinex-api-go/pull/189

[2019-08-15 06:51] gpmn commented on #187
OK, thank you!

but I'm a little afraid to use the latest version. I will use the old one, since it has been tested, should work well for me for a while.

Anyway, thank you very much!

[2019-08-15 06:51] #187 closed

[2019-09-13 18:48] abrander opened #194 "What is the point of the various *Snapshot types?"
While evaluating the v2 API I was wondering why many functions have a signature like

[code]

This creates some awkwardness. First of all, it just feels weird to have the result wrapped in a Snapshot type.

As it's implemented now, the caller cannot assume that the first value returned is non-nil even if the error is nil. This will require the API user to write code like

[code]

If the functions

[2019-09-15 13:12] abrander opened #195 "Source go not gofmt'ed"
When developing Go code it's widely used to run `go fmt` or similar tool on save. This project does not conform to the style of `go fmt.` This results in tedious work when reviewing local changes and submitting pull requests upstream.

Would the project be interested in a PR changing all files to conform to the `go fmt` style? (And use `go fmt` from now on)?

A PR implemented CI checking the forma

[2019-10-10 10:49] JacobPlaster opened #199 "Generate TOC and fixup docs"
#### Issue type
- [x] feature request

#### Brief description
The nodejs docs have a nice TOC generated via JSdocs, unfortunately golangdoes not have this so we may need to create a script to do this automatically

#### Steps to reproduce
-

##### Additional Notes:
-

[2019-10-16 02:25] Jonah246 opened #200 "nonce to small error when using two librarie"
#### Issue type
- [x] bug

#### Brief description
 I used [python-sdk](https://github.com/bitfinexcom/bitfinex-api-py) and this Golang sdk with the same api-key.  While it works smoothly in python, I got `error 500 nonce: small (10114)`.

##### Additional Notes:
After reading the source code, I found that nonce generation rules differs between two libraries

`utils/nonce.go`
[code]
`utils/auth.py`

[2019-10-17 00:27] JacobPlaster commented on #200
Hey @Jonah246 thanks for raising this as an issue and providing some good code examples. We are aware of this problem but havent changed it due to the fact that we like to encourage users to generate a new key for each strategy/implementation.

I do agree with this so im going to leave this open and add a TODO for us to implement this

[2019-11-07 13:47] 0xAnarz opened #201 "GetNonce() lead to an invalid auth"
GetNonce() for v2 REST can lead to an integer which exceed the MAX_SAFE_INTEGER constant, resulting in an authentication error from the API.

Temp fix :
`func (u *EpochNonceGenerator) GetNonce() string {
	return strconv.FormatUint(atomic.AddUint64(&u.nonce, 1) / 1000, 10)
}`

[2019-11-07 14:44] JacobPlaster commented on #201
Oh not good, I guess we should use micro seconds instead of unix milli seconds. Thanks @0xAnarz for opening the issue.

I will work on a fix now.

[2019-11-07 15:26] JacobPlaster commented on #201
Actually I've just looked into this. Right now the nonce is generated using the function `uint64(time.Now().Unix() * 1000)`, which right now is `1573140173000`.

MAX_SAFE_INTEGER is `9007199254740991` which means I am able to make `9005626114567991` requests before I exceed the integer limit.

Are you sure that the error you are seeing is due to an invalid nonce??

[2019-11-07 16:22] 0xAnarz commented on #201
`func (u *EpochNonceGenerator) GetNonce() string {
	return strconv.FormatUint(atomic.AddUint64(&u.nonce, 1), 10)
}`
actually give me 1573143692781310001

Maybe an OS issue ? I'm doing it from win7

[2019-11-08 19:30] JacobPlaster commented on #201
Thats strange, ill try this out on a windows machine.

[2019-11-19 04:46] andreygrehov commented on #142
You are using v1 api, which is deprecated. Consider migrating to v2.

[2019-11-19 20:08] #46 closed

[2019-11-19 20:46] JacobPlaster commented on #142
Closing as V1, V2 is now considered stable so please migrate. Thanks!

[2019-11-19 20:46] #142 closed

[2019-11-24 18:00] andreygrehov opened #202 "v2: DepositAddress and CreateDepositAddress do not work"
#### Issue type
- [x] bug
- [ ] missing functionality
- [ ] performance
- [ ] feature request

#### Brief description
`NotifyInfo` is `nil`

#### Steps to reproduce
[code]

[2019-11-25 10:51] JacobPlaster commented on #202
Nice spot @andreygrehov - fixed in https://github.com/bitfinexcom/bitfinex-api-go/pull/203 please review when you get the chance

[2019-11-25 16:50] andreygrehov commented on #202
Resolved. Thank you, Jacob.

[2019-11-25 16:50] #202 closed

[2019-12-28 10:43] djimmo opened #206 "SubscribeBook to a Funding Book fUSD"
#### Issue type
- [x ] bug
- [ ] missing functionality
- [ ] performance
- [ ] feature request

#### Brief description
When subscribing to a funding orderbook a different update format is received. For trading pairs it is PRICE, COUNT, AMOUNT but for funding this is RATE, PERIOD, COUNT, AMOUNT (found here https://docs.bitfinex.com/reference#ws-public-books). When using the UpdateWith() or SetWithS

[2019-12-31 10:10] fshiori commented on #206
Yes, it should be a bug.
I think old API don't support funding, so the SDK still only support old style result.
I  fix REST API in #205, but I am not sure WS API used the same function.

[2020-01-08 12:14] JacobPlaster commented on #206
Thanks for the PR @fshiori. I've left a comment and will test/merge once addressed

[2020-04-21 17:24] abronan opened #212 "Wallets available balance returns 0 value for all pairs on v2 API"
The purpose of having available balances on v2 `wallets` endpoint is unclear. No response is returned as opposed to the v1 API which returns the value correctly.

#### Issue type
- [x] bug
- [ ] missing functionality
- [ ] performance
- [ ] feature request

#### Brief description

When hitting v2 `wallets` endpoint, the values for available is always `null`.

Example of response:

[code]

**Expect

[2020-06-11 07:23] JokerCatz opened #213 "nonce too small fix"
https://github.com/bitfinexcom/bitfinex-api-go/blame/4d37e8d4be18f16ab50082b0c2c080542225f4a0/utils/nonce.go#L30

    nonce: uint64(time.Now().Unix()) * 1000, // time.now.second x 1000

if I new the client obj every time , the nonce will be same of same "second" , the conn obj init nonce will be same ...

so I think just use nano second be nonce will fix this

    type CustomNonceGenerator struct

[2020-07-15 09:03] calj commented on #213
We had this problem while doing parallel requests to the rest API. It appears when requests arrive in different orders to the server.

We quick fixed by introducing a lock in our code to prevent parallel rest calls.

Eventually we could introduce this lock in the library.
An other approach would be to change the API to async, the lib would push requests in order using a channel, a single go routin

[2020-07-15 13:43] calj opened #216 "Websocket doesn't reconnect"
#### Issue type
- [x] bug
- [ ] missing functionality
- [ ] performance
- [ ] feature request

#### Brief description

The websocket connection doesn't reconnect after heartbeat failure

#### Steps to reproduce
- Heatbeat timeout
- Expect: the websocket to reconnect
- Actual: there is no attempt to reconnect

##### Additional Notes:
- Connection parameters:

[code]

- Logs of heartbeat disconnecti

[2020-07-25 14:31] calj opened #218 "panic: send on closed channel"
#### Issue type
- [x] bug
- [ ] missing functionality
- [ ] performance
- [ ] feature request

#### Brief description

[code]

#### Steps to reproduce
-

##### Additional Notes:
-

[2020-07-27 09:57] JacobPlaster commented on #218
Thanks @calj, we will look into a fix for this.

[2020-07-27 09:59] JacobPlaster commented on #216
Thanks again @calj we will will take a look into this one too

[2020-07-30 08:58] calj commented on #216
This problem might be caused by this missing unlock:
https://github.com/bitfinexcom/bitfinex-api-go/pull/219/files#diff-93015be9a1b3ee72156236756317284dR332

[2020-08-06 10:48] JacobPlaster commented on #216
Nice spot @calj. Merged your PR, could you retry?

[2020-09-03 15:33] dnfd opened #220 "Trade execution update parsing error"
#### Issue type
- [x] bug
- [ ] missing functionality
- [ ] performance
- [ ] feature request

#### Brief description
Looks like trade execution update has one additional field now, lib does not parse this event anymore.

This one expected
[code]

This one I get now
[code]
#### Steps to reproduce
- Do any trade and you get this error
[code]

##### Additional Notes:
- Also error is misleading, actu

[2020-09-07 15:22] Manny27nyc opened #221 "Api keys"

[2020-09-08 13:51] #220 closed

[2020-09-08 13:52] JacobPlaster commented on #220
Hey @dnfd, this was fixed in https://github.com/bitfinexcom/bitfinex-api-go/pull/222 (v3.0.1)

[2020-09-13 05:33] #221 closed

[2020-12-09 00:31] shuvofifty opened #224 "Getting "data slice too short for position: []interface {}{}" error for all Authenticated endpoints"
#### Issue type
- [ ] bug

#### Brief description
For all authenticated endpoints I am getting "data slice too short for position: []interface {}{}". I checked with the breakpoints and I am getting 200 response but during json unmarshal its giving len range 0. I am using localhost to access those api

#### Steps to reproduce
- Create a client c
- then write snap, err := c.Positions.All()
- snap co

[2020-12-16 17:39] Daniel1984 commented on #224
Hi @shuvofifty. Thank you for reporting the issue and sorry for delayed response. Have you tired checking your API Keys permissions? You might need to tick Get position and margin info and Claim a position checkboxes ON.

[2021-02-08 23:16] leporel opened #228 "missing order flag Reduce Only"
#### Issue type
- [ ] bug
- [x] missing functionality
- [ ] performance
- [ ] feature request

#### Brief description

missing submit order flag ReduceOnly 1024 in `pkg/models/common/common.go`
https://docs.bitfinex.com/docs/flag-values

[2021-02-21 16:54] StylishTriangles commented on #218
I am running into this exact issue.
It seems that #219 hasn't resolved it for me

[2021-02-22 20:52] Flaashed opened #229 "Querying an empty order list throws an error"
#### Issue type
- [x] bug
- [ ] missing functionality
- [ ] performance
- [ ] feature request

#### Brief description
When using the Client.Orders.All() function when there are not orders present it returns an error "data slice too short for order: []interface {}{}". In my opinion it should just return an empty list, or at least a "dedicated" error I can check for.

#### Steps to reproduce
- Have

[2021-03-23 09:08] Flaashed commented on #224
I can confirm @shuvofifty 's report. I experience the same exact issue.
HTTP requests are fine, the lib just does not handle it correctly

[2021-09-15 06:38] TraderWithPython opened #234 "The function rest.SetCollateral post use a wrong permission"
#### Issue type
- [ ] bug

#### Brief description
In the function rest.SetCollateral,
[code]
it use common.PermissionRead commission. But the api is Ithttps://api.bitfinex.com/v2/auth/w/deriv/collateral/set.
It lead to an error. Hope you can fix it. Thanks a lot.

[2022-03-15 10:39] gummy789j commented on #224
I experience the same exact issue too.

[2022-04-12 22:32] dustin-decker opened #238 "Custom http client or transport"
#### Issue type
- [ ] bug
- [x] missing functionality
- [ ] performance
- [ ] feature request

#### Brief description

There is no way to provide a custom http client or transport right now, short of modifying http.DefaultClient (which is not a good practice).

https://github.com/bitfinexcom/bitfinex-api-go/blob/b4f52b0c0faefbac59865ca54bceb07238d7b474/v2/rest/client.go#L88

The DefaultClient shou

[2022-11-02 01:36] thirthfamous commented on #224
same for me